{% extends 'core/base.html' %}

{% block title %}Log In | {% endblock %}

{% block content %}
    <section class="hero is-medium is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Log in </h1>
                <h2 class="subtitle">Log into your account </h2>
            </div>
        </div>
    </section>  

    <div class="columns" id="signup-app">
        <div class="column is-6 is-offset-3">
            <form method="post" action="." class="mt-6">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="notification is-danger">
                        {{ form.non_field_errors }}

                        {% for field in form %}
                            {% if field.errors %}{{ field.label }}: {{ field.errors|striptags }}{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="field">
                    <label>E-mail</label>

                    <div class="control">
                        <input type="email" name="username" id="id_username" class="input">
                    </div>
                </div>

                <div class="field">
                    <label>Password</label>

                    <div class="control">
                        <input type="password" name="password" id="id_password" class="input">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-success">Log In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const SignupApp = {
            data() {
                return {
                    username: '',
                    password1: '',
                    password2: '',
                    errors: []
                }
            },
            delimiters: ['[[', ']]'],
            methods: {
                validateForm(e) {
                    this.errors = []

                    if (!this.validateEmail(this.username)) {
                        this.errors.push('Your e-mail address in not valid!')
                    }

                    if (this.password1 === '') {
                        this.errors.push('Your password is missing')
                    }

                    if (this.password1.length < 8) {
                        this.errors.push('Your password must be at least 8 characters')
                    }

                    if (!isNaN(this.password1)) {
                        this.errors.push('Your password can\'t be enterily numeric')
                    }

                    if (this.password1 !== this.password2) {
                        this.errors.push('Your passwords does not match!')
                    }

                    if (this.errors.length) {
                        e.preventDefault()

                        return false
                    } else {
                        return true
                    }
                },
                validateEmail(email) {
                    if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email)) {
                        return true
                    }

                    return false
                }
            }
        }

        Vue.createApp(SignupApp).mount('#signup-app')
    </script>
{% endblock %}