        <!-- Footer -->
        <footer class="footer">
          <div class="columns is-multiline">
              <div class="column is-4">
                  <h2 class="subtitle">TTrack</h2>
              </div>

              <div class="column is-offset-6 is-2">
                  <ul>
                      <li><a href="#">Contact</a></li>
                      <li><a href="{% url 'privacy' %}">Privacy policy</a></li>
                      <li><a href="{% url 'terms' %}">Terms of service</a></li>
                  </ul>
              </div>

              <div class="column is-12 has-text-centered">
                  <p>Copyright &copy; 2020</p>
              </div>
          </div>
      </footer>
      <!-- End Footer -->