<div id="navbar-app">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="/" class="navbar-item"><strong> TTrack </strong></a>
    
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a href="{% url 'plans' %}" class="navbar-item"> Plans</a>

        <div class="navbar-item">
          <div class="buttons">
            <a href="{% url 'signup' %}" class="button is-success"> <strong> Sign Up</strong></a>
            <a href="{% url 'login' %}" class="button"> Log In</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>